asgiref==3.11.0
autoservice_pro
boto3==1.41.2
botocore==1.41.2
Django
jmespath==1.0.1
pillow==12.0.0
python-dateutil==2.9.0.post0
s3transfer==0.15.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3
whitenoise==6.11.0
